.login {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: #FAF9F6;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
}

.loginText {
  text-align: center;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #3F51B5;
  border-radius: 1rem 1rem 0 0;
}

.loginContainer {
  width: 100%;
}

.userLogin {
  padding: 1rem;
}

.emailText {
  font-size: 20px;
  margin-top: 2rem;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

.inputEmail {
  size: 100%;
}

#field {
  border-top: 0;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  display: block !important;
}

.mat-form-field-infix {
  border-top: 0 !important;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.submitContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.fieldContainer {
  width: 100%;
}

.errorEmail {
  color: red;
}

.errorContainer {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  display: none;
}
